body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-style: normal;
  line-height: 1.2;
  font-weight: 500;
  color: $main-black-clr;
  overflow-y: scroll;
  &.dark-theme {
    background-color: rgb(44, 43, 43);
  }
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.is-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(99, 4, 4);
  border-radius: 5px;
}
