<div data-modal class='backdrop is-hidden'>
  <div class='modal'>
    <button class='button-svg' data-modal-close>
      <svg class='svg-exit'>
        <use href='./images/icons.svg#icon-close'></use>
      </svg>
    </button>
    <section class='section-team'>
      <h2 class='section-title'>Наша команда</h2>
      <ul class='team-flex'>
        <div class='container-team'>
          <li class='flex-name'>
            <img src='#' alt='Ігор Демяненко' width='140' />
            <h3 class='team-name'>Дмитро Давіденко</h3>
            <p class='team-position'>Team Lead</p>
          </li>
          <li class='flex-name'>
            <img src='#' alt='Ігор Демяненко' width='140' />
            <h3 class='team-name'>Олег Кухаришин</h3>
            <p class='team-position'>Scrum Master</p>
          </li>
        </div>
        <div class='container-team'>
          <li class='flex-name'>
            <img src='#' alt='Ольга Рєпіна' width='140' />
            <h3 class='team-name'>Артем Ванін</h3>
            <p class='team-position'>Developer</p>
          </li>
          <li class='flex-name'>
            <img src='#' alt='Микола Тарасов' width='140' />
            <h3 class='team-name'>Ростислав Гнатовський</h3>
            <p class='team-position'>Developer</p>
          </li>
          <li class='flex-name'>
            <img src='#' alt='Михайло Єрмаков' width='140' />
            <h3 class='team-name'>Дмитро Мойсеєнко</h3>
            <p class='team-position'>Developer</p>
          </li>
        </div>
      </ul>
    </section>
  </div>
</div>