<section class="section-hero container">
  <div class="reserved">
    <span>© 2022 | All Rights Reserved | &nbsp</span>
    <div class="team-flex">
      <span>Developed with</span>
      <svg width="14" height="13" class="imageFill">
        <use href="./images/icons.svg#icon-heart"></use>
      </svg>
      <span>by &nbsp</span>
      <button data-modal-open type="button" class="button primary">Enigma code</button>
      <!-- <a href="#" data-modal-open type="button" class="button primary">GoIT Students</a> -->
    </div>
  </div>
  <div class="data-modal-js"></div>
</section>

<div data-modal class="backdrop is-hidden">
  <div class="modal">
    <button class="button-svg" data-modal-close>
      <svg class="svg-exit">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <section class="section-team">
      <h2 class="section-title">Enigma code</h2>
      <ul class="team-flex">
        <div class="container-team">
          <li class="flex-name">
            <img src="./images/footer/artemVanin.jpg" alt="Артем Ванін" width="140" />
            <h3 class="team-name">Артем Ванін</h3>
            <p class="team-position">Developer</p>
          </li>
          <li class="flex-name">
            <img src="./images/footer/olehKukharyshyn.jpg" alt="Олег Кухаришин" width="140" />
            <div class="name-cover">
              <h3 class="team-name">Олег Кухаришин</h3>
              <p class="team-position">Scrum Master</p>
            </div>
          </li>
          <li class="flex-name">
            <img src="./images/footer/dmytroDavidenko.jpg" alt="Дмитро Давіденко" width="140" />
            <h3 class="team-name">Дмитро Давіденко</h3>
            <p class="team-position">Team Lead</p>
          </li>

          <li class="flex-name">
            <img
              src="./images/footer/rostyslavHnatovskii.jpg"
              alt="Ростислав Гнатовський"
              width="140"
            />
            <h3 class="team-name">Ростислав Гнатовський</h3>
            <p class="team-position">Developer</p>
          </li>
          <li class="flex-name">
            <img src="./images/footer/dmytroMoiseenko.jpg" alt="Дмитро Мойсеєнко" width="140" />
            <h3 class="team-name">Дмитро Мойсеєнко</h3>
            <p class="team-position">Developer</p>
          </li>
        </div>
      </ul>
    </section>
  </div>
</div>
